{% extends 'base.html' %} 
{%  load static %}
{% block title %} | contact {% endblock %}


{% block content %}
<div class="container mt-5">
<section class="text-center">
        <h3 class="mb-5">Get in touch</h3>

        <p class="text-center mb-5 mx-auto w-responsive">
          Lorem ipsum dolor sit, amet consectetur adipisicing elit. Illum laborum animi doloremque
          nam dicta veniam dolor ea nostrum excepturi laboriosam molestiae, expedita odit id! Sunt
          quia cumque consequatur perferendis hic.
        </p>

        <form>
          <div class="row">
            <div class="col-lg-5">
              <p class="text-center mt-lg-4 mb-4">
                <strong>Make an appointment to get the best offer</strong>
              </p>
              <div class="form-outline mb-4">
                <input type="text" id="form3Example1" class="form-control" />
                <label class="form-label" for="form3Example1">Name</label>
              </div>
              <div class="form-outline mb-4">
                <input type="email" id="form3Example2" class="form-control" />
                <label class="form-label" for="form3Example2">Email</label>
              </div>
              <div class="form-outline mb-4">
                <textarea class="form-control" id="form4Example3" rows="4"></textarea>
                <label class="form-label" for="form4Example3">Message</label>
              </div>
              <div class="text-center pb-3">
                <button type="submit" class="btn btn-outline-danger btn-rounded btn-block mb-5 mb-md-0">
                  Send
                </button>
              </div>
            </div>
            <div class="col-lg-7" style="margin-top: -7rem;">
              <img src="https://mdbootstrap.com/img/illustrations/graphics(1).png" class="img-fluid"
                alt="smaple image" />
            </div>
          </div>
        </form>
      </section>
</div>
{% include 'partials/_footer.html' %}
{% endblock %}

