{% extends 'base.html' %} 


{%  load static %}

{% block title %} | About {% endblock %}


{% block content %}

 <main>
    <div class="container my-5">
      <!--Section: Design Block-->
      <section>
        <div class="row">
          <div class="col-lg-6 col-xl-5 mb-4 mb-lg-0">
            <img src="https://mdbootstrap.com/img/Photos/Others/images/66.jpg" class="img-fluid shadow-3 rounded" />
          </div>
          <div class="col-lg-6 offset-xl-1">
            <h3 class="mb-4 pt-2 pt-lg-0" style="color: #112f6b;">Build your brand with us</h3>
            <p class="mb-4">
              Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nemo animi soluta ratione
              quisquam, dicta ab cupiditate iure eaque? Repellendus voluptatum, magni impedit
              delectus, beatae maxime temporibus maiores quibusdam.
            </p>
            <p class="mb-4">
              Rem magnam ad perferendis iusto sint tempora ea voluptatibus iure, animi excepturi
              modi aut possimus in hic molestias repellendus illo ullam odit quia velit. Lorem
              ipsum dolor sit amet, consectetur adipisicing elit.
            </p>
            <p class="mb-0">
              Incidunt eligendi mollitia labore ipsum ex fugit explicabo saepe error neque beatae
              in, expedita eveniet quae aliquam assumenda voluptatibus!
            </p>
          </div>
        </div>
      </section>
      <!--Section: Design Block-->

      <hr class="my-5" />

      <!--Section: Design Block-->
      <section>
        <h3 class="text-center mb-5" style="color: #112f6b;">Why is it so great?</h3>

        <p class="text-center mb-5 mx-lg-5">
          Lorem ipsum dolor sit, amet consectetur adipisicing elit. Illum laborum animi doloremque
          nam dicta veniam dolor ea nostrum excepturi laboriosam molestiae, expedita odit id! Sunt
          quia cumque consequatur perferendis hic.
        </p>

        <div class="row">
          <div class="col-lg-4 col-md-12">
            <div class="row mb-3">
              <div class="col-2">
                <i class="fas fa-edit text-danger fa-2x"></i>
              </div>
              <div class="col-10 mb-2">
                <h5 style="color: #112f6b;">Modern design</h5>
                <p>
                  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reprehenderit maiores
                  nam, aperiam minima.
                </p>
              </div>
            </div>
            <div class="row mb-3">
              <div class="col-2">
                <i class="fas fa-cogs text-danger fa-2x"></i>
              </div>
              <div class="col-10 mb-2">
                <h5 style="color: #112f6b;">Easy customize</h5>
                <p>
                  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reprehenderit maiores
                  nam, aperiam minima assumenda.
                </p>
              </div>
            </div>
            <div class="row mb-3 mb-lg-0">
              <div class="col-2">
                <i class="fas fa-tablet-alt text-danger fa-2x"></i>
              </div>
              <div class="col-10 mb-2 mb-lg-0">
                <h5 style="color: #112f6b;">Responsive layouts</h5>
                <p class="mb-lg-0">
                  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reprehenderit maiores
                  nam, aperiam.
                </p>
              </div>
            </div>
          </div>
          <div class="col-lg-4 col-md-12 text-center">
            <img src="https://mdbootstrap.com/img/Mockups/Transparent/Small/admin-new.png" alt="" class="img-fluid" />
          </div>
          <div class="col-lg-4 col-md-12">
            <div class="row mb-3">
              <div class="col-2">
                <i class="fas fa-chart-line text-danger fa-2x"></i>
              </div>
              <div class="col-10 mb-2">
                <h5 style="color: #112f6b;">Optymized for SEO</h5>
                <p>
                  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reprehenderit maiores
                  nam, aperiam.
                </p>
              </div>
            </div>
            <div class="row mb-3">
              <div class="col-2">
                <i class="fas fa-users text-danger fa-2x"></i>
              </div>
              <div class="col-10 mb-2">
                <h5 style="color: #112f6b;">Technical support</h5>
                <p>
                  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reprehenderit maiores
                  nam, aperiam minima assumenda.
                </p>
              </div>
            </div>
            <div class="row">
              <div class="col-2">
                <i class="far fa-gem text-danger fa-2x"></i>
              </div>
              <div class="col-10">
                <h5 style="color: #112f6b;">High quality</h5>
                <p class="mb-0">
                  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reprehenderit maiores
                  nam, aperiam minima.
                </p>
              </div>
            </div>
          </div>
        </div>
      </section>
      <!--Section: Design Block-->
    </div>

    <!--Section: Design Block-->
    <section>
      <div class="bg-image bg-fixed text-center" style="
          background-image: url('https://mdbootstrap.com/img/Photos/Horizontal/Things/full%20page/img%20%287%29.jpg');
          height: 460px;
        ">
        <div class="d-flex align-items-center h-100 mask" style="
            background: linear-gradient(
              45deg,
              rgba(255, 88, 88, 0.7),
              rgba(238, 66, 146, 0.8) 100%
            );
          ">
          <div class="container text-white">
            <p class="h1 mb-5">Some facts about us</p>
            <div class="row">
              <div class="col-md-3">
                <h2 class="h1">+950</h2>
                <p class="mb-md-0">Happy clients</p>
              </div>
              <div class="col-md-3">
                <h2 class="h1">+150</h2>
                <p class="mb-md-0">Projects completed</p>
              </div>
              <div class="col-md-3">
                <h2 class="h1">+85</h2>
                <p class="mb-md-0">Destinations</p>
              </div>
              <div class="col-md-3">
                <h2 class="h1">+246</h2>
                <p class="mb-0">Cups of coffee</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!--Section: Design Block-->

    <div class="container my-5">
      


      <hr class="my-5" />

      <!--Section: Design Block-->
      <section class="text-center">
        <h3 class="mb-5">Our amazing team</h3>

        <p class="mb-5 mx-auto w-responsive">
          Lorem ipsum dolor sit, amet consectetur adipisicing elit. Illum laborum animi doloremque
          nam dicta veniam dolor ea nostrum excepturi laboriosam molestiae, expedita odit id! Sunt
          quia cumque consequatur perferendis hic.
        </p>

        <div class="row">
          <div class="col-md-6 col-lg-3 mb-4 mb-lg-0">
            <img class="rounded-circle shadow-1-strong mb-4"
              src="https://mdbootstrap.com/img/Photos/Avatars/img%20(25).jpg" alt="avatar" style="width: 150px;" />
            <h5 class="mb-3" style="color: #112f6b;">Anna Deynah</h5>
            <p>Graphic designer</p>
            <ul class="list-unstyled mb-0">
              <a href="#!" class="px-1">
                <i class="text-danger px-2 fa-lg fab fa-github"></i>
              </a>
              <a href="#!" class="px-1">
                <i class="text-danger px-2 fa-lg fab fa-twitter"></i>
              </a>
              <a href="#!" class="px-1">
                <i class="text-danger px-2 fa-lg fab fa-linkedin-in"></i>
              </a>
            </ul>
          </div>
          <div class="col-md-6 col-lg-3 mb-4 mb-lg-0">
            <img class="rounded-circle shadow-1-strong mb-4"
              src="https://mdbootstrap.com/img/Photos/Avatars/img%20(9).jpg" alt="avatar" style="width: 150px;" />
            <h5 class="mb-3" style="color: #112f6b;">John Doe</h5>
            <p>Web developer</p>
            <ul class="list-unstyled mb-0">
              <a href="#!" class="px-1">
                <i class="text-danger px-2 fa-lg fab fa-github"></i>
              </a>
              <a href="#!" class="px-1">
                <i class="text-danger px-2 fa-lg fab fa-twitter"></i>
              </a>
              <a href="#!" class="px-1">
                <i class="text-danger px-2 fa-lg fab fa-linkedin-in"></i>
              </a>
            </ul>
          </div>
          <div class="col-md-6 col-lg-3 mb-4 mb-md-0">
            <img class="rounded-circle shadow-1-strong mb-4"
              src="https://mdbootstrap.com/img/Photos/Avatars/img%20(5).jpg" alt="avatar" style="width: 150px;" />
            <h5 class="mb-3" style="color: #112f6b;">Maria Smith</h5>
            <p>Photographer</p>
            <ul class="list-unstyled mb-0">
              <a href="#!" class="px-1">
                <i class="text-danger px-2 fa-lg fab fa-facebook-f"></i>
              </a>
              <a href="#!" class="px-1">
                <i class="text-danger px-2 fa-lg fab fa-twitter"></i>
              </a>
              <a href="#!" class="px-1">
                <i class="text-danger px-2 fa-lg fab fa-linkedin-in"></i>
              </a>
            </ul>
          </div>
          <div class="col-md-6 col-lg-3 mb-0">
            <img class="rounded-circle shadow-1-strong mb-4"
              src="https://mdbootstrap.com/img/Photos/Avatars/img%20(8).jpg" alt="avatar" style="width: 150px;" />
            <h5 class="mb-3" style="color: #112f6b;">Tom Adams</h5>
            <p>Backend developer</p>
            <ul class="list-unstyled mb-0">
              <a href="#!" class="px-1">
                <i class="text-danger px-2 fa-lg fab fa-dribbble"></i>
              </a>
              <a href="#!" class="px-1">
                <i class="text-danger px-2 fa-lg fab fa-linkedin-in"></i>
              </a>
              <a href="#!" class="px-1">
                <i class="text-danger px-2 fa-lg fab fa-instagram"></i>
              </a>
            </ul>
          </div>
        </div>
      </section>
      <!--Section: Design Block-->

      <hr class="my-5" />

    </div>
  </main>
{% include 'partials/_footer.html' %}
{% endblock %}
