{% extends 'base.html' %} 
{%  load static %}
{% block title %} | home {% endblock %}


{% block content %}

<!--Section: Design Block-->

    <section>
      <!-- Intro -->
      <div id="intro">
        <div class="container-fluid h-100">
          <div class="row align-items-center justify-content-center h-100">
            <div class="col-lg-6 col-xl-3 mt-5">
              <h1 class="display-3 font-weight-bold mb-5" style="color: #7f00ee;">
                Hi<span class="text-danger">.</span> We are
                <span class="d-block">the Place</span>
              </h1>
              <p class="lead font-weight-normal mb-5">
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Rem repellendus quasi
                fuga nesciunt dolorum nulla magnam veniam sapiente, fugiat! Commodi sequi non
                animi ea dolor molestiae iste.
              </p>
              <a type="button" class="btn btn-danger btn-rounded btn-lg" href="{% url 'contact' %}">
                Get in touch
              </a>
            </div>
            <div class="col-lg-6 col-xl-6">
              <img src="https://mdbootstrap.com/img/illustrations/graphics(2).png" alt="" class="img-fluid" />
            </div>
          </div>
        </div>
      </div>
      <!-- Intro -->
    </section>
    <!--Section: Design Block-->
  <main>
    <div class="container my-5">
      <!--Section: Design Block-->
      <section>
        <h3 class="text-center mb-5">Why choose us</h3>

        <p class="text-center mb-5 mx-auto w-responsive">
          Lorem ipsum dolor sit, amet consectetur adipisicing elit. Illum laborum animi doloremque
          nam dicta veniam dolor ea nostrum excepturi laboriosam molestiae, expedita odit id! Sunt
          quia cumque consequatur perferendis hic.
        </p>

        <div class="row">
          <div class="col-lg-4 mb-lg-0 mb-5">
            <div class="d-flex justify-content-start">
              <div class="me-4">
                <i class="fas fa-wifi text-danger fa-2x" style="color: #7f00ee;"></i>
              </div>
              <div>
                <h5>Workplace</h5>
                <p>
                  Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium
                  doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore
                  veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam
                  voluptatem quia voluptas sit aspernatur aut odit aut fugit.
                </p>
                <a class="btn btn-danger btn-rounded">Learn more</a>
              </div>
            </div>
          </div>
          <div class="col-lg-4 mb-lg-0 mb-5">
            <div class="d-flex justify-content-start">
              <div class="me-4">
                <i class="fas fa-coffee text-danger fa-2x" style="color: #7f00ee;"></i>
              </div>
              <div class="col-lg-10 col-md-9 col-10">
                <h5>A meeting place</h5>
                <p>
                  Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur,
                  adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et
                  dolore magnam aliquam quaerat voluptatem, sed quia consequuntur magni dolores
                  eos qui ratione voluptatem sequi nesciunt.
                </p>
                <a class="btn btn-danger btn-rounded">Learn more</a>
              </div>
            </div>
          </div>
          <div class="col-lg-4">
            <div class="d-flex justify-content-start">
              <div class="me-4">
                <i class="far fa-grin-beam text-danger fa-2x" style="color: #7f00ee;"></i>
              </div>
              <div class="col-lg-10 col-md-9 col-10">
                <h5>We are children-friendly</h5>
                <p>
                  At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis
                  praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias
                  excepturi sint occaecati cupiditate non provident, similique sunt in culpa qui
                  officia deserunt mollitia animi, id est laborum et dolorum fuga.
                </p>
                <a class="btn btn-danger btn-rounded">Learn more</a>
              </div>
            </div>
          </div>
        </div>
      </section>
      <!--Section: Design Block-->

      <hr class="my-5" />

      <!--Section: Design Block-->
      <section>
        <h3 class="text-center mb-5">What you get</h3>

        <p class="text-center mb-md-5 mx-auto w-responsive">
          Lorem ipsum dolor sit, amet consectetur adipisicing elit. Illum laborum animi doloremque
          nam dicta veniam dolor ea nostrum excepturi laboriosam molestiae, expedita odit id! Sunt
          quia cumque consequatur perferendis hic.
        </p>

        <div class="row align-items-center">
          <div class="col-lg-6" style="margin-top: -5.3rem;">
            <img src="https://mdbootstrap.com/img/illustrations/graphics(3).png" class="img-fluid" alt="smaple image" />
          </div>
          <div class="col-lg-6">
            <div class="row mb-4">
              <div class="col-md-1 col-2">
                <i class="fas fa-book-open fa-2x" style="color: #7f00ee;" style="color: #7f00ee;"></i>
              </div>
              <div class="col-md-11 col-10">
                <h5>Desks for any period</h5>
                <p>
                  Lorem ipsum dolor sit amet, consectetur adipisicing. Reprehenderit maiores nam,
                  aperiam minima elit assumenda voluptate velit.
                </p>
              </div>
            </div>
            <div class="row mb-4">
              <div class="col-md-1 col-2">
                <i class="fas fa-wifi fa-2x" style="color: #7f00ee;" style="color: #7f00ee;"></i>
              </div>
              <div class="col-md-11 col-10">
                <h5>Workplace</h5>
                <p>
                  Lorem ipsum dolor sit amet, consectetur adipisicing. Reprehenderit maiores nam,
                  aperiam minima elit assumenda voluptate velit.
                </p>
              </div>
            </div>
            <div class="row">
              <div class="col-md-1 col-2">
                <i class="far fa-clock fa-2x" style="color: #7f00ee;" style="color: #7f00ee;"></i>
              </div>
              <div class="col-md-11 col-10">
                <h5>Fast Internet</h5>
                <p>
                  Lorem ipsum dolor sit amet, consectetur adipisicing. Reprehenderit maiores nam,
                  aperiam minima elit assumenda voluptate velit.
                </p>
              </div>
            </div>
          </div>
        </div>
      </section>
      <!--Section: Design Block-->

      <!--Section: Design Block-->
      <section>
        <div class="row align-items-center" style="margin-top: -6rem;">
          <div class="col-lg-6">
            <div class="row mb-4">
              <div class="col-md-1 col-2">
                <i class="fas fa-users fa-2x" style="color: #7f00ee;"></i>
              </div>
              <div class="col-md-11 col-10">
                <h5>Meeting rooms</h5>
                <p>
                  Lorem ipsum dolor sit amet, consectetur adipisicing. Reprehenderit maiores nam,
                  aperiam minima elit assumenda voluptate velit.
                </p>
              </div>
            </div>
            <div class="row mb-4">
              <div class="col-md-1 col-2">
                <i class="fas fa-gem fa-2x" style="color: #7f00ee;"></i>
              </div>
              <div class="col-md-11 col-10">
                <h5>Flexible memberships</h5>
                <p>
                  Lorem ipsum dolor sit amet, consectetur adipisicing. Reprehenderit maiores nam,
                  aperiam minima elit assumenda voluptate velit.
                </p>
              </div>
            </div>
            
          </div>
          <div class="col-lg-6">
            <img src="https://mdbootstrap.com/img/illustrations/graphics(4).png" class="img-fluid" alt="smaple image" />
          </div>
        </div>
      </section>
      <!--Section: Design Block-->

      <hr class="my-5" />

      <!--Section: Design Block-->
      <section class="text-center">
        <h3 class="mb-5">Latest Project</h3>

        <p class="mb-5 mx-auto w-responsive">
          Lorem ipsum dolor sit, amet consectetur adipisicing elit. Illum laborum animi doloremque
          nam dicta veniam dolor ea nostrum excepturi laboriosam molestiae, expedita odit id! Sunt
          quia cumque consequatur perferendis hic.
        </p>

        <div class="row">
          {% if project|length > 0 %}
          {% for item in project %}
          <div class="col-md-12 col-lg-4 mb-4">
            <div class="bg-image hover-zoom mb-4 shadow-1-strong rounded">
              {% for image_item in item.project_image %}
              <img src="{{domain_name}}/Media/register_account/{{item.account_id}}/project_upload/{{item.project_id}}/media/project_image/{{image_item}}" class="img-fluid" />
              {% endfor %}
              <a href="#!">
                <div class="mask"></div>
              </a>
            </div>
            <h5 class="mb-3">{{item.title}}</h5>
             <small class="text-muted">Last updated {{item.last_upd_sort_time}} ago</small>
            <p class="mb-4">{{item.description}}</p>
           
            <ul class="list-unstyled mb-0">
              <a class="btn btn-danger btn-rounded" href="{{domain_name}}/ProjectShow?pid={{item.project_id}}">Learn more</a>
            </ul>
          </div>
          {% endfor %}
          {% else %}  
          <div>No project found</div>
        {% endif %}
        </div>
      </section>
      <!--Section: Design Block-->

      <hr class="my-5" />
    </div>
     
  </main>

{% include 'partials/_footer.html' %}
  
{% endblock %}
